[submodule "03-desafio01-node-fundamentos"]
	path = 03-desafio01-node-fundamentos
	url = https://github.com/Thiagom790/NODE-Rocketseat-Desafio01.git
[submodule "04-desafio02-node-middlewares"]
	path = 04-desafio02-node-middlewares
	url = https://github.com/Thiagom790/NODE-Rocketseat-Desafio02.git
[submodule "05-desafio03-node-correcao-bugs"]
	path = 05-desafio03-node-correcao-bugs
	url = https://github.com/Thiagom790/NODE-Rocketseat-Desafio03.git
[submodule "08-desafio04-node-solid-typescript"]
	path = 08-desafio04-node-solid-typescript
	url = https://github.com/Thiagom790/NODE-Rocketseat-Desafio04.git
[submodule "10-desafio05-database-queries"]
	path = 10-desafio05-database-queries
	url = https://github.com/Thiagom790/NODE-Rocketseat-Desafio05.git
